
/* define las características del before de cada bloque*/
@mixin bloque_before($left) {
    content: "";
    position: absolute;
    z-index: 1;
    left: $left;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
    transform: skew(30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

/* define las características de cada bloque cuando se pasa por encima*/
@mixin bloque_hover_before($left) {
    cursor: pointer;
    content: "";
    position: absolute;
    z-index: 1;
    left: $left;
    width: 20%;
    height: 100%;
    background: white;
    opacity: 0.1;
    -webkit-transform: skewX(0deg) scale(1) translate(0, 0);
    transform: skewX(0deg) scale(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

/* creación del before de cada bloque */
@for $i from 1 through 5 {
    .bloque#{$i}::before {
        @include bloque_before(($i - 1) * 5em);
    }
}

/* colores y mágenes de cada bloque */
$colores: #244F75, #60BFBF, #8C4B7E, #F8BB44, #F24B4B;
@for $i from 1 through 5 {
    .bloque#{$i} {
        background: nth($colores, $i);
        @if $i == 1 {
            margin-left: 0;
        }
        @if $i == 5 {
            margin-right: 0;
        }
    }
}

/* hover de cada bloque */
$hover_left: 0em, 5.3em, 10.8em, 16.1em, 21.5em;
@for $i from 1 through 5 {
    .bloque#{$i}:hover:before {
        $left: nth($hover_left, $i);
        @include bloque_hover_before($left);
    }
}

