@charset "UTF-8";
* {
  box-sizing: border-box;
  height: 900px;
  width: 1200px;
  margin: 0; }

section {
  font-family: 'Lato';
  font-size: 3rem; }

.texto {
  display: flex;
  flex-direction: row;
  margin: 10px 0; }
  .texto div {
    width: 20%;
    color: white;
    text-align: center;
    line-height: 50rem;
    align-self: center;
    margin: 2px; }

@keyframes bloque_kf1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bloque_kf2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bloque_kf3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bloque_kf4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bloque_kf5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.bloque1 {
  animation-name: bloque_kf1;
  animation-duration: 0.7s;
  animation-delay: 0; }

.bloque2 {
  animation-name: bloque_kf2;
  animation-duration: 0.7s;
  animation-delay: 0.2s; }

.bloque3 {
  animation-name: bloque_kf3;
  animation-duration: 0.7s;
  animation-delay: 0.4s; }

.bloque4 {
  animation-name: bloque_kf4;
  animation-duration: 0.7s;
  animation-delay: 0.6s; }

.bloque5 {
  animation-name: bloque_kf5;
  animation-duration: 0.7s;
  animation-delay: 0.8s; }

/* define las características del before de cada bloque*/
/* define las características de cada bloque cuando se pasa por encima*/
/* creación del before de cada bloque */
.bloque1::before {
  /*
        @if $i == 2 or $i == 4 {
            @include bloque_before(($i - 1) * 5em, green);
        }
        @else {
            */
  content: "";
  position: absolute;
  z-index: 1;
  left: 0em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque2::before {
  /*
        @if $i == 2 or $i == 4 {
            @include bloque_before(($i - 1) * 5em, green);
        }
        @else {
            */
  content: "";
  position: absolute;
  z-index: 1;
  left: 5em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque3::before {
  /*
        @if $i == 2 or $i == 4 {
            @include bloque_before(($i - 1) * 5em, green);
        }
        @else {
            */
  content: "";
  position: absolute;
  z-index: 1;
  left: 10em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque4::before {
  /*
        @if $i == 2 or $i == 4 {
            @include bloque_before(($i - 1) * 5em, green);
        }
        @else {
            */
  content: "";
  position: absolute;
  z-index: 1;
  left: 15em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque5::before {
  /*
        @if $i == 2 or $i == 4 {
            @include bloque_before(($i - 1) * 5em, green);
        }
        @else {
            */
  content: "";
  position: absolute;
  z-index: 1;
  left: 20em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

/* colores y mágenes de cada bloque */
.bloque1 {
  background: #244F75;
  margin-left: 0; }

.bloque2 {
  background: #60BFBF; }

.bloque3 {
  background: #8C4B7E; }

.bloque4 {
  background: #F8BB44; }

.bloque5 {
  background: #F24B4B;
  margin-right: 0; }

/* hover de cada bloque */
.bloque1:hover:before {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0.8em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.1;
  -webkit-transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque2:hover:before {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 1;
  left: 5.8em;
  width: 100%;
  height: 100%;
  background: green;
  opacity: 0.1;
  -webkit-transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque3:hover:before {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 1;
  left: 10.8em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.1;
  -webkit-transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque4:hover:before {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 1;
  left: 15.8em;
  width: 100%;
  height: 100%;
  background: green;
  opacity: 0.1;
  -webkit-transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.bloque5:hover:before {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 1;
  left: 20.8em;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.1;
  -webkit-transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transform: skewX(0deg) scale(1) translate(-2.5rem, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
